<div class="jumbotron">
    <h1>Произвольные заявки</h1>
    <p class="lead">Сервис позволяет создать заявку, указав название и описание. Ознакомиться с заявкой. Изменить статус завяки на "Решена", "Возвращена" и "Закрыта". Вы можете просмотреть историю действий над заявкой, а также воспользоваться фильтром для поиска заявки по статусу и дате.</p>
    <p>
        @Html.ActionLink("Начать работу с заявками", "List", "Applications")
    </p>
</div>
