<div class="jumbotron">
    <h1>Произвольные заявки</h1>
    <p class="lead">Сервис позволяет создать заявку, указав название и описание. Изменить статус завяки на "Открыта", "Решена", "Возвращена" и "Закрыта". Вы можете просмотреть историю изменения статусов заявок, а также воспользоваться фильтром.</p>
    <p>
        @Html.ActionLink("К списку заявок", "List", "Applications")
        <!--<a style="min-width: 200px; width: 30%; margin: 10px" id="createApp" class="btn btn-primary btn-lg">Новая заявка &raquo;</a>
    <a style="min-width: 200px; width: 30%; margin: 10px" id="getApps" class="btn btn-primary btn-lg">Все заявки &raquo;</a>
    <a style="min-width: 200px; width: 30%; margin: 10px" id="getHistory" class="btn btn-primary btn-lg">История &raquo;</a>-->
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
